
#contact {
    height: auto;
    width: 100%;
  }
  
  .contact-details {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .contact-details li {
    padding-bottom: 10px;
  }
  
  #contact input, #contact textarea {
    width: 100%;
  }
  
  
  #contact  #sendmessage {
    color: #18d26e;
    border: 1px solid #18d26e;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin: 15px;
  }
  
  #contact  #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin: 15px;
  }
  
  #contact #sendmessage.show, #contact #errormessage.show, #contact .show {
    display: block;
  }
  
  #contact .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
