/*-----------------------------------------------------------------------------------*/
/*  Aout-me
/*-----------------------------------------------------------------------------------*/

#about {
    width: 100%;
    height: auto;
    background: #f7f7f7;
    padding-top: 190px;
  }
  
